# Archivos de Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Archivos de IDE
.idea/
*.iml
*.iws
.vscode/
.project
.classpath
.settings/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log

# Variables de entorno
.env
