server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: servicio-mascotas
          uri: http://servicio-mascotas:8081
          predicates:
            - Path=/api/mascotas/**
          filters:
            - StripPrefix=1
        
        - id: servicio-citas
          uri: http://servicio-citas:8082
          predicates:
            - Path=/api/citas/**
          filters:
            - StripPrefix=1
      
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway
